<a href="https://colab.research.google.com/github/jeremayaaa/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Fundamentals of Python
Python Variables

In [2]:
x = float(1)
a,b = 0,1
a,b,c = "Sally", "John", "Ana"

print ('This is sample')
print (a)
print(c)

This is sample
Sally
Ana

Casting

In [3]:
print (x)

1

Type() Function

In [8]:
y = "Johnny"
print (type(y))
print (type(x))

<class 'str'>
<class 'int'>

Double Quotes and Single Quotes

In [10]:
#h = "Maria"
h = 'Maria'
v=1

print (h)
print (v+1)

Maria
2

Multiple Variables

In [13]:
x,y,z = "one", "two", "three"

print (x)
print (y)
print (z)
print (x,y,z)

one
two
three
one two three

One Value to Multiple Value

In [14]:
x = y = z = "Stella"

print (y)

Stella

Output Variable

In [15]:
x = "enjoying"
y = "Python is"

print (y + " " + x)

Python is enjoying