<a href="https://colab.research.google.com/github/jeremayaaa/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Fundamentals of Python
Python Variables

In [2]:
x = float(1)
a,b = 0,1
a,b,c = "Sally", "John", "Ana"

print ('This is sample')
print (a)
print(c)

This is sample
Sally
Ana

Casting

In [3]:
print (x)

1

Type() Function

In [8]:
y = "Johnny"
print (type(y))
print (type(x))

<class 'str'>
<class 'int'>

Double Quotes and Single Quotes

In [10]:
#h = "Maria"
h = 'Maria'
v=1

print (h)
print (v+1)

Maria
2

Multiple Variables

In [13]:
x,y,z = "one", "two", "three"

print (x)
print (y)
print (z)
print (x,y,z)

one
two
three
one two three

One Value to Multiple Value

In [14]:
x = y = z = "Stella"

print (y)

Stella

Output Variable

In [15]:
x = "enjoying"
y = "Python is"

print (y + " " + x)

Python is enjoying

Arithmetic Operations

In [16]:
f = 1
g = 2
i = 6

print (f + g)
print (f - g)
print (f * g)
print (int(f/g))
print (3/g)
print (3%g)
print (3//g)

3
-1
2
0
1.5
1
1

Assignments Operator

In [20]:
k = 2
k += 3

print (k)
print (k>>2)

s =2
s*=5

print (s)

5
1
10

Relational Operators

In [21]:
print (v>s)
print (v==s)

False

Logical Operators

In [23]:
print (v<s and s==s) #true
print (v<s or s==v) #true
print (not(v<s or s==v)) #true

True
True
False

identify Operators

In [25]:
print (v is s)
print (v is not s)

False
True