<a href="https://colab.research.google.com/github/jeremayaaa/OOP-58001/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [ ]:
print(10 > 9)
print(10 == 9)
print(10!=9)
print(10<9)

True
False
True
False

Bool ( ) Function

In [ ]:
print(bool("Maria"))
print(bool(19))
print(bool([]))
print(bool(0))
print(bool(1))
print(bool(None))
print(bool(False))

True
True
False
False
True
False
False

Function can return a Boolean

In [ ]:
def myFunction():
  return False

print(myFunction())

False

In [ ]:
def myFunction():
  return True

if myFunction():
  print("Yes!!!")

else:
  print("No!!!")

Yes!!!

Application 1

In [ ]:
print(10>9)

a = 6
b = 7
print(a==b)
print(a!=b)

True
False
True

In [ ]:
a = 60
b = 13
print(a>b)

if a < b:
  print("a is less than b")

else:
  print("a is greater than b")

True
a is greater than b

Python Operators

In [ ]:
print(10+3)
print(10-3)
print(10*3)
print(10%3)
print(10/3)

13
7
30
1
3.3333333333333335

Bitwise Operators

In [ ]:
a = 60
b = 13

print(a%b)
print(a|b)
print(a^b)
print(a<<1)
print(a<<2)

8
61
49
120
240

Application 2

In [ ]:
#Assignment Operators
x = 2

x += 3
print(x)

x -= 3
print(x)

x *= 3
print(x)

x /= 3
print(x)

x %= 3
print(x)

5
2
6
2.0
2.0

Logical Operators

In [ ]:
k = True
l = False
print (k and l)
print (k or l)
print (not(k or l))

False
True
False

#Control Structure
If statement

In [ ]:
v = 2
z = 1

if 1<2:
  print ("1 is less than 2")

1 is less than 2

Elif Statement

In [ ]:
if v < z:
  print("v is less than v")

elif v > z:
  print("v is greater than z")

v is greater than z

Else Statement

In [2]:
number = int(input())

if number>0:
  print("Positive")

elif number<0:
  print("Negative")

else:
  print("number is equal to zero")

15
Positive

Application 3

In [1]:
age = int(input())

if age >= 18:
  print("You are qualified to vote!")

else:
  print("You are not qualified to vote")

26
You are qualified to vote!

Nested If ... Else

In [3]:
u = int(input())

if u >10:
  print("u is above 10")
  if u>20:
    print("u is above 20")
    if u >30:
      print("u is above 30")
      if u>40:
        print("u is above 40")
      else:
        print("u is below 40")
        if u>50:
          print("u is above 50")
        else:
          print("u is below 50")

42
u is above 10
u is above 20
u is above 30
u is above 40

Loop Structure

In [4]:
week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
season = ['Rainy', 'Sunny']

for x in week:
  for y in season:
    print(y,x)

Rainy Sunday
Sunny Sunday
Rainy Monday
Sunny Monday
Rainy Tuesday
Sunny Tuesday
Rainy Wednesday
Sunny Wednesday
Rainy Thursday
Sunny Thursday
Rainy Friday
Sunny Friday
Rainy Saturday
Sunny Saturday

Break Statement

In [5]:
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

While loop

In [7]:
i = 1

while i<=6:
  print(i)
  i+=1

1
2
3
4
5
6

Application 4

In [8]:
n=1
while n<5:
  print(n)
  break

1

Application 5

In [10]:
r=1

while r<=4:
  if r==4:
    print(r)
  r+=1

4